certifi==2020.4.5.2
chardet==3.0.4
ci-info==0.2.0
click==7.1.2
decorator==4.4.2
etelemetry==0.2.1
filelock==3.0.12
idna==2.9
isodate==0.6.0
joblib==0.15.1
lxml==4.6.3
networkx==2.4
nibabel==3.1.0
nilearn==0.6.2
nipype==1.5.0
numpy==1.18.5
packaging==20.4
pandas==1.0.4
prov==1.5.3
pydot==1.4.1
pydotplus==2.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
rdflib==5.0.0
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
simplejson==3.17.0
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
traits==6.1.0
urllib3==1.25.9
